@import url('https://fonts.googleapis.com/css?family=Poppins: 100,200,300,400,500,600,700,800,900');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Poppins',sans-serif;
}


  body{
    background-color: black;

  }



.liquid{
  position: relative;
width: 100%;
height: 100vh;
display: flex;
justify-content:center;
align-items:center;
color: blanchedalmond;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.liquid h2{
  position: absolute;
font-size: 190px;

}

.liquid h2:nth-child(1){
  color: #2196f3;
  animation: animate 3s ease-in-out infinite;
  
}

@keyframes animate {
    0%, 100%{
        clip-path: polygon(0% 55%, 20% 56%, 42% 62%, 68% 59%, 100% 63%, 100% 100%, 0% 100%);

    }
    50%{
        clip-path: polygon(0 73%, 23% 63%, 52% 70%, 76% 63%, 100% 63%, 100% 100%, 0% 100%);

    }
}



.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}
